body{
    margin: 0px;
    padding: 0px;
    background-color: #2B2B2B;
}

.container-wrap{
    display: flex;
}

.container-nowrap{
    display: flex;
    margin-top: 50px;
    flex-wrap: wrap;
}

.item{
    width: 25%;
    background-color: #393939;
    color: #AABE9F;
    border: 1px solid skyblue;
}